---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/structures/divrec/divrecmonth/?format=json&pageIndex=1&pageSize=50000&wcIdentifier=*diversion*&wdid=0100504
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-17T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '579754'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '949'
      X-Result-Count:
      - '378'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":378,"ResultDateTime":"2025-02-17T22:43:24.96702-07:00","ResultList":[{"wdid":"0100504","waterClassNum":10100504,"wcIdentifier":"0100504
        Total (Diversion)","measInterval":"Daily","measCount":16,"dataMeasDate":"1950-05","dataValue":698.1920,"measUnits":"ACFT","obsCode":"*","approvalStatus":"Approved","modified":"2001-08-14T18:04:00"},{"wdid":"0100504","waterClassNum":10100504,"wcIdentifier":"0100504
        Total (Diversion)","measInterval":"Daily","measCount":30,"dataMeasDate":"1950-06","dataValue":1309.1100,"measUnits":"ACFT","obsCode":"*","approvalStatus":"Approved","modified":"2001-08-14T18:04:00"},{"wdid":"0100504","waterClassNum":10100504,"wcIdentifier":"0100504
        Total (Diversion)","measInterval":"Daily","measCount":31,"dataMeasDate":"1950-07","dataValue":1352.7470,"measUnits":"ACFT","obsC[...]
