---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/climatedata/climatestationtsday/?dateFormat=spaceSepToSeconds&measType=Snow&pageIndex=1&pageSize=50000&siteId=US1COJF0356&stationNum=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-18T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '589837'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '989'
      X-Result-Count:
      - '304'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":304,"ResultDateTime":"2025-02-18
        22:00:46","ResultList":[{"stationNum":5012,"siteId":"US1COJF0356","measType":"Snow","measDate":"2011-09-10
        00:00:00","value":0.000000,"flagA":null,"flagB":null,"flagC":null,"flagD":null,"dataSource":"CoCoRaHS","modified":"2015-01-28
        14:16:02","measUnit":"in"},{"stationNum":5012,"siteId":"US1COJF0356","measType":"Snow","measDate":"2011-09-11
        00:00:00","value":0.000000,"flagA":null,"flagB":null,"flagC":null,"flagD":null,"dataSource":"CoCoRaHS","modified":"2015-01-28
        14:16:02","measUnit":"in"},{"stationNum":5012,"siteId":"US1COJF0356","measType":"Snow","measDate":"2011-09-12
        00:00:00","value":0.000000,"flagA":null,"flagB":null,"flagC":null,"flagD":null,"dataSource":"CoCoRaHS","modified":"2015-01-28
        14:16:02","measUn[...]
