---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/telemetrystations/telemetrytimeseriesday/?abbrev=PLACHECO&dateFormat=spaceSepToSeconds&endDate=12-31-2021&format=json&includeThirdParty=true&pageIndex=1&pageSize=50000&parameter=DISCHRG&startDate=01-01-2021
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-11-07T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '593751'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '365'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":365,"ResultDateTime":"2024-11-07
        18:58:02","ResultList":[{"abbrev":"PLACHECO","parameter":"DISCHRG","measDate":"2021-01-01
        00:00:00","measValue":65.700000,"measUnit":"cfs","flagA":"O","flagB":null,"measCount":96,"modified":"2021-01-02
        00:16:28"},{"abbrev":"PLACHECO","parameter":"DISCHRG","measDate":"2021-01-02
        00:00:00","measValue":71.200000,"measUnit":"cfs","flagA":"O","flagB":null,"measCount":96,"modified":"2021-01-03
        00:16:02"},{"abbrev":"PLACHECO","parameter":"DISCHRG","measDate":"2021-01-03
        00:00:00","measValue":70.900000,"measUnit":"cfs","flagA":"O","flagB":null,"measCount":96,"modified":"2021-01-04
        00:16:16"},{"abbrev":"PLACHECO","parameter":"DISCHRG","measDate":"2021[...]
