---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/analysisservices/watersourcerouteframework/?dateFormat=spaceSepToSeconds&division=1&format=json&pageIndex=1&pageSize=50000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-04T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '598788'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '996'
      X-Result-Count:
      - '1211'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":1211,"ResultDateTime":"2025-02-04
        19:30:41","ResultList":[{"division":1,"waterDistrict":1,"gnisId":"00010001","gnisName":"Long
        Draw","streamLength":5.53,"tributaryToLevel":3,"TributaryToGnisId":"00180489","tribGnisName":"Coal
        Creek","tributaryToStreamMile":0.20},{"division":1,"waterDistrict":1,"gnisId":"00010002","gnisName":"Yerby
        Draw","streamLength":11.34,"tributaryToLevel":2,"TributaryToGnisId":"00169581","tribGnisName":"Crow
        Creek","tributaryToStreamMile":61.39},{"division":1,"waterDistrict":1,"gnisId":"00010003","gnisName":"Killins
        Spring Run","streamLength":3.52,"tributaryToLevel":2,"TributaryToGnisId":"00201758","tribGnisName":"Kiowa
        Creek","tributaryToStreamMile":95.22},{"division":1,"waterDistrict":1,"gnisI[...]
