---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/groundwater/waterlevels/wellmeasurements/?dateFormat=spaceSepToSeconds&format=json&max-measurementDate=&min-measurementDate=&pageIndex=1&pageSize=50000&wellId=149733
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-18T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '589371'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '980'
      X-Result-Count:
      - '31'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":31,"ResultDateTime":"2025-02-18
        22:09:02","ResultList":[{"wellId":149733,"wellName":"DB-110  ECCV L-12","division":1,"waterDistrict":2,"county":"ARAPAHOE","managementDistrict":null,"designatedBasin":null,"publication":"DENVER
        BASIN","measurementDate":"2000-03-30 00:00:00","depthToWater":1138.0,"measuringPointAboveLandSurface":0.0,"depthWaterBelowLandSurface":1138.00,"elevationOfWater":4742.00,"delta":null,"dataSource":"DWR","published":"Yes","modified":"2008-06-13
        13:36:19"},{"wellId":149733,"wellName":"DB-110  ECCV L-12","division":1,"waterDistrict":2,"county":"ARAPAHOE","managementDistrict":null,"designatedBasin":null,"publication":"DENVER
        BASIN","measurementDate":"2007-07-01 00:00:00","depthToWater":1550.72,"measuringPointAboveLandSurface":0.0,"depthWaterBelowLandSurface":1550.72,"elevationOfWater":4329.28,"delta":412.72,"dataSource":"DWR","published":"Yes","modified":"2008-06-13
        13:37:35"},{"wellId":149733,"wellName[...]
