---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/surfacewater/surfacewatertsday/?abbrev=PLACHECO&dateFormat=spaceSepToSeconds&format=json&max-measDate=12-31-2021&min-measDate=01-01-2021&pageIndex=1&pageSize=50000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-11-06T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '599262'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '365'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":365,"ResultDateTime":"2024-11-06
        20:37:24","ResultList":[{"stationNum":1482,"abbrev":"PLACHECO","usgsSiteId":"06701500","measType":"Streamflow","measDate":"2021-01-01
        00:00:00","value":66.000000,"flagA":"A","flagB":null,"flagC":null,"flagD":null,"dataSource":"DWR","modified":"2022-02-08
        12:46:36","measUnit":"cfs"},{"stationNum":1482,"abbrev":"PLACHECO","usgsSiteId":"06701500","measType":"Streamflow","measDate":"2021-01-02
        00:00:00","value":71.000000,"flagA":"A","flagB":null,"flagC":null,"flagD":null,"dataSource":"DWR","modified":"2022-02-08
        12:46:36","measUnit":"cfs"},{"stationNum":1482,"abbrev":"PLACHECO","usgsSiteId":"06701500","measType":"Streamflow","measDate":"2021-01-03
        00:00:00","value":71.000000,"flagA":"A","flagB":null,"flagC":null,"flagD":null,"dataSource":"DWR","m[...]
