---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/groundwater/waterlevels/wellmeasurements/?dateFormat=spaceSepToSeconds&format=json&max-measurementDate=12-31-2023&min-measurementDate=01-01-2021&pageIndex=1&pageSize=50000&wellId=149733
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-18T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '589502'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '982'
      X-Result-Count:
      - '5'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":5,"ResultDateTime":"2025-02-18
        22:09:00","ResultList":[{"wellId":149733,"wellName":"DB-110  ECCV L-12","division":1,"waterDistrict":2,"county":"ARAPAHOE","managementDistrict":null,"designatedBasin":null,"publication":"DENVER
        BASIN","measurementDate":"2021-03-31 00:00:00","depthToWater":null,"measuringPointAboveLandSurface":0.0,"depthWaterBelowLandSurface":null,"elevationOfWater":null,"delta":null,"dataSource":"DWR","published":"Yes","modified":"2022-09-06
        11:08:55"},{"wellId":149733,"wellName":"DB-110  ECCV L-12","division":1,"waterDistrict":2,"county":"ARAPAHOE","managementDistrict":null,"designatedBasin":null,"publication":"DENVER
        BASIN","measurementDate":"2021-10-31 00:00:00","depthToWater":null,"measuringPointAboveLandSurface":0.0,"depthWaterBelowLandSurface":null,"elevationOfWater":null,"delta":null,"dataSource":"DWR","published":"Yes","modified":"2022-09-06
        11:09:01"},{"wellId":149733,"wellName":"DB-110  [...]
