---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/administrativecalls/active/?dateFormat=spaceSepToSeconds&division=1&format=json&max-dateTimeSet=11%25252F30%25252F2024&min-dateTimeSet=11%25252F01%25252F2024&pageIndex=1&pageSize=50000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-17T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '598781'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '989'
      X-Result-Count:
      - '8'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":8,"ResultDateTime":"2025-02-17
        22:11:45","ResultList":[{"callNumber":34589,"callType":"CALL","dateTimeSet":"2024-11-01
        08:00:00","dateTimeReleased":null,"waterSourceName":"CACHE LA POUDRE RIVER","locationWdid":"0303775","locationWdidStreammile":42.39,"locationStructureName":"CACHE
        LA POUDRE RESERVOIR","priorityWdid":"0303775","priorityStructureName":"CACHE
        LA POUDRE RESERVOIR","priorityAdminNumber":20066.19327,"priorityOrderNumber":0,"priorityDate":"1904-12-09
        00:00:00","priorityNumber":null,"boundingWdid":null,"boundingStructureName":null,"setComments":null,"releaseComment":null,"division":1,"locationStructureLatitude":40.549056,"locationStructureLongitude":-104.959855,"boundingStructureLatitude":null,"boundingStructureLongitude":null,"modified":"2024-11-01
        07:41:35","moreInformation":"https://dwr.state.co.us/Tools/AdministrativeCalls/34589"},{"callNumber":34585,"callType":"CALL","dateTimeSet":"2024-11-01
        08:00:00","dateTimeReleased":null,"waterSourceName":"SOUTH BOULDER CREEK","locationWdid":"0600564","locationWdidStreammile":9.76,"locationStructureName":"COMMUNITY
        DITCH","priorityWdid":"0600564","priorityStructureName":"COMMUNITY DITCH","priorityAdminNumber":12941.00000,"priorityOrderNumber":0,"priorityDate":"1885-06-06
        00:00:00","priorityNumber":nul[...]
