---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/analysisservices/watersourcerouteanalysis/?dateFormat=spaceSepToSeconds&format=json&ltGnisId=00180489&ltStreamMile=0.0&pageIndex=1&pageSize=50000&utGnisId=00010001&utStreamMile=10.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-10T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '593941'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '3'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":3,"ResultDateTime":"2025-02-10
        21:59:17","ResultList":[{"wdid":"0103890","structureName":"TOM KIME RES","structureType":"Reservoir","featureType":"Point
        of Diversion","gnisId":"00010001","streamMile":2.90},{"wdid":"0100609","structureName":"LONG
        DRAW IRR DITCH","structureType":"Ditch","featureType":"Point of Diversion","gnisId":"00010001","streamMile":0.00},{"wdid":"0103626","structureName":"DRURY
        RES 2","structureType":"Reservoir","featureType":"Point of Diversion","gnisId":"00180489","streamMile":0.00}]}'
  recorded_at: Tue, 11 Feb 2025 04:57:53 GMT
recorded_with: VCR 6.3.1
