---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/climatedata/climatestationfrostdates/?dateFormat=spaceSepToSeconds&format=json&max-calYear=2023&min-calYear=2023&pageIndex=1&pageSize=50000&stationNum=US1COJF0424
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-11-25T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '596597'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '988'
      X-Result-Count:
      - '485'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":485,"ResultDateTime":"2024-11-25
        20:37:30","ResultList":[{"stationNum":3,"calYear":2023,"l28s":"2023-04-07
        00:00:00","f28f":"2023-10-13 00:00:00","l32s":"2023-05-12 00:00:00","f32f":"2023-10-13
        00:00:00"},{"stationNum":4,"calYear":2023,"l28s":"2023-04-28 00:00:00","f28f":"2023-10-14
        00:00:00","l32s":"2023-05-06 00:00:00","f32f":"2023-10-06 00:00:00"},{"stationNum":5,"calYear":2023,"l28s":"2023-04-23
        00:00:00","f28f":"2023-10-14 00:00:00","l32s":"2023-05-01 00:00:00","f32f":"2023-10-07
        00:00:00"},{"stationNum":6,"calYear":2023,"l28s":"2023-04-23 00:00:00","f28f":"2023-10-14
        00:00:00","l32s":"2023-04-24 00:00:00","f32f":"2023-10-14 00:0[...]
