---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/analysisservices/callanalysisbygnisid/?adminNo=12941.00000&dateFormat=spaceSepToSeconds&endDate=12-31-2022&format=json&gnisId=00010001&pageIndex=1&pageSize=50000&startDate=01-01-2022&streamMile=9.76
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-11T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '599056'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '994'
      X-Result-Count:
      - '472'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":472,"ResultDateTime":"2025-02-11
        19:28:30","ResultList":[{"analysisDate":"2022-01-01 00:00:00","analysisGnisId":"00010001","analysisWaterSourceName":"Long
        Draw","analysisStreamMile":9.76,"analysisWrAdminNo":12941.00000,"division":null,"callType":null,"dateTimeSet":null,"dateTimeReleased":null,"waterSourceName":null,"locationWdid":null,"locationStructure":null,"locationWdidStreamMile":null,"priorityWdid":null,"priorityStructure":null,"priorityAdminNo":null,"priorityOrderNo":null,"priorityDate":null,"priorityNo":null,"boundingWdid":null,"boundingStructureName":null,"setComments":null,"releaseComment":null,"analysisOutOfPriorityPercentOfDay":0.0},{"analysisDate":"2022-01-02
        00:00:00","analysisGnisId":"00010001","analysisWaterSourceName":"Long Draw","analysisStreamMile":9.76,"analysisWrAdminNo":12941.00000,"division":null,"callType":null,"dateTimeSet":null,"dateTimeReleased":null,"waterSourceName":null,"locationWdid":null,"locationStructure":null,"locationWdidStreamMile":null,"priorityWdid":null,"priorityStructure":null,"priorityAdminNo":null,"priorityOrderNo":null,"priorityDate":null,"priorityNo":null,"boundingWdid":null,"bo[...]
[...]
