---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/structures/divrec/divrecyear/?dateFormat=spaceSepToSeconds&format=json&pageIndex=1&pageSize=50000&wcIdentifier=*diversion*&wdid=0100504
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-12T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '478285'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '61'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":61,"ResultDateTime":"2025-02-12
        19:23:38","ResultList":[{"wdid":"0100504","waterClassNum":10100504,"wcIdentifier":"0100504
        Total (Diversion)","measInterval":"Daily","measCount":164,"dataMeasDate":"1950","dataValue":5674.7935,"measUnits":"ACFT","obsCode":"*","approvalStatus":"Approved","modified":"2001-08-14
        18:04:00"},{"wdid":"0100504","waterClassNum":10100504,"wcIdentifier":"0100504
        Total (Diversion)","measInterval":"Daily","measCount":139,"dataMeasDate":"1951","dataValue":5984.2195,"measUnits":"ACFT","obsCode":"*","approvalStatus":"Approved","modified":"2001-08-14
        18:04:00"},{"wdid":"0100504","waterClassNum":10100504,"wcIdentifier":"0100504
        Total (Diversion)","measInterval":"Daily","measCount":157,"dataMeasDate":"1952","dataValue":6482.0780,"measUnits":[...]
