---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/waterrights/netamount/?county=&dateFormat=spaceSepToSeconds&division=&format=json&latitude=39.7392&longitude=-104.9903&pageIndex=1&pageSize=50000&radius=10&units=miles&waterDistrict=&wdid=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-18T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '585288'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '2950'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":2950,"ResultDateTime":"2025-02-18
        22:26:30","ResultList":[{"waterRightNetAmtNum":1468175,"wdid":"0200504","structureName":"CHEROKEE
        EXCHANGE PIPELINE","structureType":"Pipeline","waterSource":"SOUTH PLATTE
        RIVER","gnisId":"00201759","streamMile":235.68,"division":1,"waterDistrict":2,"county":"ADAMS","q10":"SW","q40":"SE","q160":"SW","section":"1","township":"3.0
        S","range":"68.0 W","pm":"S","coordinatesEw":null,"coordinatesEwDir":null,"coordinatesNs":null,"coordinatesNsDir":null,"utmX":503993.0,"utmY":4407078.0,"latitude":39.813678,"longitude":-104.953358,"locationAccuracy":"Digitized","adjudicationDate":"2002-12-31
        00:00:00","priorAdjudicationDate":"2001-12-31 00:00:00","appropriationDate":"2004-08-31
        00:00:00","adminNumber":56491.00000,"orderNumber":0,"priorityNumber":"","associatedCaseNumbers":"13CW3066,
        02CW0116","decreedUses":"4","netAbsolute":0.0000,"netConditional":0.0000,"netApexAbsolute":5.1100,"netApexConditional":14.8900,"decreedUnits":"C","seasonalLimitation":"No","comments":"EXCH
        FM CONFLUENCE OF S PLATTE & ST VRAIN, MADE ABSOLUTE; EXCH FM CONFLUENCE OF
        S PLATTE & ST VRAIN","lastModified":"2016-06-03 10:23:42","permit":null,"moreInformation":"https://dwr.state.co.us/Tools/WaterRights/NetAmounts/1468175"},{"waterRightNetAmtNum":1468176,"wdid":"0200504","structureName":"CHEROKEE
        EXCHANGE PIPELINE","structureType":"Pipeline","waterSource":"SOUTH PLATTE
        RIVER","gnisId":"00201759","streamMile":235.68,"division":1,"waterDistrict":2,"county":"ADAMS","q10":"SW","q40":"SE","q160":"SW","section":"1","township":"3.0
        S","range":"68.0 W","pm":"S","coordinatesEw":null,"coordinatesEwDir":null,"coordinatesNs":null,"coordinat[...]
