---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/waterrights/netamount/?county=Denver&dateFormat=spaceSepToSeconds&format=json&pageIndex=1&pageSize=50000&units=miles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-11-19T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '359536'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '589'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":589,"ResultDateTime":"2024-11-19
        19:00:21","ResultList":[{"waterRightNetAmtNum":1804590,"wdid":"0200800","structureName":"FARMERS
        GARDNERS DITCH","structureType":"Ditch","waterSource":"SOUTH PLATTE RIVER","gnisId":"00201759","streamMile":241.26,"division":1,"waterDistrict":2,"county":"DENVER","q10":null,"q40":"NE","q160":"NW","section":"33","township":"3.0
        S","range":"68.0 W","pm":"S","coordinatesEw":null,"coordinatesEwDir":null,"coordinatesNs":null,"coordinatesNsDir":null,"utmX":499225.7,"utmY":4400521.6,"latitude":39.754617,"longitude":-105.009045,"locationAccuracy":"Digitized","adjudicationDate":"1884-02-04
        00:00:00","priorAdjudicationDate":"0001-01-01 00:00:00","appropriationDate":"1861-06-01
        00:00:00","adminNumber":4170.00000,"orderNumber":0,"priorityNumber":"","associatedCaseNumbers":"91CW0102","decreedUses":"2X","netAbsolute":0.0000,"netConditional":0.0000,"netApexAbsolute":0.2300,"netApexConditional":0.0000,"decreedUnits":"C","seasonalLimitation":"Yes","comments":"ALT
        PT TO HARRIMAN DITCH DENVER CHNG USE","lastModified":"2021-07-02 13:47:44","permit":null,"moreInformation":"https://dwr.state.co.us/Tools/WaterRights/NetAmounts/1804590"},{"waterRightNetAmtNum":1804591,"wdid":"0200800","structureName":"FARMERS
        GARDNERS DITCH","structureType":"Ditch","waterSource":"SOUTH PLATTE RIVER","gnisId":"00201759","streamMile":241.26,"division":1,"waterDistrict":2,"county":"DENVER","q10":null,"q40":"NE","q160":"NW","section":"33","township":"3.0
        S","range":"68.0 W","pm":"S","coordinatesEw":null,"coordinatesEwDir":null,"coordinatesNs":null,"coordinatesNsDir":null[...]
