---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/climatedata/climatestationfrostdates/?dateFormat=spaceSepToSeconds&format=json&max-calYear=2023&min-calYear=2000&pageIndex=1&pageSize=50000&stationNum=US1COJF0424
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-11-25T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '578369'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '7886'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":7886,"ResultDateTime":"2024-11-25
        21:06:44","ResultList":[{"stationNum":3,"calYear":2000,"l28s":null,"f28f":"2000-09-23
        00:00:00","l32s":"2000-06-17 00:00:00","f32f":"2000-09-23 00:00:00"},{"stationNum":3,"calYear":2001,"l28s":"2001-05-21
        00:00:00","f28f":null,"l32s":"2001-05-22 00:00:00","f32f":"2001-09-08 00:00:00"},{"stationNum":3,"calYear":2002,"l28s":"2002-05-25
        00:00:00","f28f":"2002-10-03 00:00:00","l32s":"2002-05-25 00:00:00","f32f":"2002-10-02
        00:00:00"},{"stationNum":3,"calYear":2003,"l28s":null,"f28f":"2003-09-18 00:00:00","l32s":null,"f32f":"2003-09-14
        00:00:00"},{"stationNum":3,"calYear":2004,"l28s":null,"f28f":"2[...]
