---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/analysisservices/callanalysisbygnisid/?adminNo=12941.00000&endDate=12-31-2023&format=json&gnisId=00010001&pageIndex=1&pageSize=50000&startDate=01-01-2023&streamMile=9.76
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-17T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '584623'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '972'
      X-Result-Count:
      - '464'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":464,"ResultDateTime":"2025-02-17T22:24:00.655818-07:00","ResultList":[{"analysisDate":"2023-01-01T00:00:00","analysisGnisId":"00010001","analysisWaterSourceName":"Long
        Draw","analysisStreamMile":9.76,"analysisWrAdminNo":12941.00000,"division":1,"callType":"CALL","dateTimeSet":"2022-12-30T08:00:00","dateTimeReleased":"2023-01-03T09:00:00","waterSourceName":"SOUTH
        PLATTE RIVER","locationWdid":"0100513","locationStructure":"JACKSON LAKE INLET
        DITCH","locationWdidStreamMile":146.94,"priorityWdid":"0200817","priorityStructure":"EVANS
        NO 2 DITCH","priorityAdminNo":21698.00000,"priorityOrderNo":0,"priorityDate":"1909-05-29T00:00:00","priorityNo":null,"boundingWdid":null,"boundingStructureName":null,"setComments":"AFFECTS
        DISTRICTS 1,2,3,4,5,6,7,8,9,23,80 ON 1/1/23 ONLY DISTRICTS 1,2,3,4,5,6,7","releaseComment":null,"analysisOutOfPriorityPercentOfDay":0.0},{"analysisDate":"2023-01-02T00:00:00","analysisGnisId":"00010001","analysisWaterSourceName":"Long
        Draw","analysisStreamMile":9.76,"analysisWrAdminNo":12941.00000,"division":1,"callType":"CALL","dateTimeSet":"2022-12-30T08:00:00","dateTimeReleased":"2023-01-03T09:00:00","waterSourceName":"SOUTH
        PLATTE RIVER","locationWdid":"0100513","locationStructure":"JACKSON LAKE INLET
        DITCH","locationWdidStreamMile":146.94,"priorityWdid":"0200817","priorityStructure":"EVANS
      [...]
