---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/administrativecalls/historical/?dateFormat=spaceSepToSeconds&division=1&format=json&max-dateTimeSet=12-31-2023&min-dateTimeSet=01-01-2023&pageIndex=1&pageSize=50000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-11-25T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '577745'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '459'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":459,"ResultDateTime":"2024-11-25
        21:18:40","ResultList":[{"callNumber":31820,"callType":"CALL","dateTimeSet":"2023-01-01
        08:00:00","dateTimeReleased":"2023-01-03 12:00:00","waterSourceName":"SOUTH
        PLATTE RIVER","locationWdid":"0200802","locationWdidStreammile":237.77,"locationStructureName":"BURLINGTON
        D RIVER HEADGATE","priorityWdid":"0200802","priorityStructureName":"BURLINGTON
        D RIVER HEADGATE","priorityAdminNumber":21562.00000,"priorityOrderNumber":0,"priorityDate":"1909-01-13
        00:00:00","priorityNumber":null,"boundingWdid":null,"boundingStructureName":null,"setComments":"AFFECTS
        DISTRICTS 8,9,23,80","releaseComment":null,"division":1,"locationStructureLatitude":39.790185,"locationStructureLongitude":-104.969410,"boundingStructureLatitude":null,"boundingStructureLongitude":null,"modified":"2023-01-03
        09:40:50","moreInformation":"https://dwr.state.co.us/Tools/AdministrativeCalls/31820"},{"callNumber":31821,"callType":"CALL","dateTimeSet":"2023-01-03
        09:00:00","dateTimeReleased":"2023-01-03 12:00:00","waterSourceName":"SOUTH
        PLATTE RIVER","locationWdid":"0100513","locationWdidStreammile":146.94,"locationStructureName":"JACKSON
        LAKE INLET DITCH","priorityWdid":"0100507","priorityStructureName":"BIJOU
        CANAL","priorityAdminNumber":21564.00000,"priorityOrderNumber":0,"priorityDate":"1909-01-15[...]
