---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/groundwater/waterlevels/wells/?county=DENVER&dateFormat=spaceSepToSeconds&format=json&pageIndex=1&pageSize=50000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-11-07T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '512330'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '316'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":316,"ResultDateTime":"2024-11-07
        19:36:26","ResultList":[{"wellId":84,"wellName":"DB-022 A  EASTWOOD ESTS.","receipt":"9002112","permit":"16050-F","wellDepth":1748,"measurementDate":"2023-04-05
        00:00:00","waterLevelDepth":422.4,"waterLevelElevation":4882.6,"measurementBy":"DWR","porStart":"1973-11-08
        00:00:00","porEnd":"2023-04-05 00:00:00","porCount":39,"publicationName":"DENVER
        BASIN","aquifers":"LARAMIE-FOX HILLS","elevation":5305.0,"elevationAccuracy":null,"topPerforatedCasing":1520,"bottomPerforatedCasing":1748,"baseOfGrout":1520,"wdid":"0205724","locationNumber":"SC00306609CBB","usgsSiteId":null,"contact":null,"division":1,"waterDistrict":2,"county":"DENVER","designatedBasin":null,"managementDistrict":null,"q10":"NW","q40":"NW","q160":"SW","section":"9","township":"3.0
        S","range":"66.0 W","pm":"S","coordinatesEw":null,"coordinatesEwDir":null,"coordinatesNs":null,"coordinatesNsDir":null,"utmX":517953.0,"utmY":4406064.0,"latitude":39.804362,"longitude":-104.790286,"locationAccuracy":"GPS","dataSource":"DWR","modified":"2015-06-29
        10:26:00","moreInformation":"https://dwr.state.co.us/Tools/GroundWater/WaterLevels/84"},{"wellId":85,"wellName":"DB-022
        B  EASTWOOD ESTS.","receipt":"9002113 ","permit":"16051-F","wellDepth":1730,"measurementDate":"2022-05-15
        00:00:00","waterLevelDepth":437.08,"waterLevelElevation":4884.92,"measurementBy":"DWR","porStart":"1973-10-31
        00:00:00","porEnd":"2022-05-15 00:00:00","porCount":39,"publicationName":"DENVER
        BASIN","aquifers":"LARAMIE-FOX HILLS","elevation":5322.0,"elevationAccuracy":nu[...]
