---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/climatedata/climatestations/?county=&dateFormat=spaceSepToSeconds&division=&latitude=39.7392&longitude=-104.9903&pageIndex=1&pageSize=50000&radius=10&siteId=&stationName=&units=miles&waterDistrict=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-18T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '598036'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '992'
      X-Result-Count:
      - '619'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":619,"ResultDateTime":"2025-02-18
        22:00:46","ResultList":[{"stationNum":63,"siteId":"USW00023062","stationName":"DENVER
        STAPLETON INT''L ARPT","dataSource":"NOAA","division":1,"waterDistrict":2,"county":"DENVER
        ","state":"CO","utmX":511186.3,"utmY":4401494.5,"latitude":39.763302,"longitude":-104.869414,"locationAccuracy":null,"startDate":"1948-01-01
        00:00:00","endDate":"2025-02-06 00:00:00","modified":"2025-02-16 02:49:07","moreInformation":"http://cdss.state.co.us/onlineTools/Pages/ClimateStation.aspx"},{"stationNum":63,"siteId":"USW00023062","stationName":"DENVER
        STAPLETON INT''L ARPT","dataSource":"NOAA","division":1,"waterDistrict":2,"county":"DENVER
        ","state":"CO","utmX":511186.3,"utmY":4401494.5,"latitude":39.763302,"longitude":-104.869414,"locationAccuracy":null,"startDate":"1948-01-01
        00:00:00","endDate":"2025-02-06 00:00:00","modified":"2025-02-16 02:49:07","moreInformation":"http://cdss.state.co.us[...]
