---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/waterrights/netamount/?dateFormat=spaceSepToSeconds&division=1&format=json&pageIndex=1&pageSize=50000&units=miles&waterDistrict=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-11-19T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '275667'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '1814'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":1814,"ResultDateTime":"2024-11-19
        19:27:38","ResultList":[{"waterRightNetAmtNum":1922063,"wdid":"0400501","structureName":"BARNES
        DITCH","structureType":"Ditch","waterSource":"BIG THOMPSON RIVER","gnisId":"00205019","streamMile":30.86,"division":1,"waterDistrict":4,"county":"LARIMER","q10":"NW","q40":"NW","q160":"NE","section":"17","township":"5.0
        N","range":"69.0 W","pm":"S","coordinatesEw":null,"coordinatesEwDir":null,"coordinatesNs":null,"coordinatesNsDir":null,"utmX":487891.0,"utmY":4472823.0,"latitude":40.405938,"longitude":-105.142717,"locationAccuracy":"GPS","adjudicationDate":"1883-05-28
        00:00:00","priorAdjudicationDate":"0001-01-01 00:00:00","appropriationDate":"1861-11-10
        00:00:00","adminNumber":4332.00000,"orderNumber":0,"priorityNumber":"","associatedCaseNumbers":"82CW0202,
        87CW0178, 02CW0392","decreedUses":"1234578Q","netAbsolute":0.0000,"netConditional":0.0000,"netApexAbsolute":8.0208,"netApexConditional":0.0000,"decreedUnits":"C","seasonalLimitation":"No","comments":"ALT
        PT TO LOVELAND PL, ALT PT TO LOVELAND PL, ALT PT TO LOVELAND PL, ALT PT TO
        LOVELAND PL, ALT PT TO LOUDEN DITCH","lastModified":"2023-09-05 05:48:02","permit":null,"moreInformation":"https://dwr.state.co.us/Tools/WaterRights/NetAmounts/1922063"},{"waterRightNetAmtNum":1922064,"wdid":"0400501","structureName":"BARNES
        DITCH","structureType":"Ditch","waterSource":"BIG THOMPSON RIVER","gnisId":"00205019","streamMile":30.86,"division":1,"waterDistrict":4,"county":"LARIMER","q10":"NW","q40":"NW","q160":"NE","section":"17","township":"5.0
        N","range":"69.0 W","pm":"S","coordinatesEw":null,"coordinatesEwDir":null,"coordinatesNs":null,"coordinatesNsDir":null,"utmX":48[...]
