---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/structures/divrec/divrecday/?dateFormat=spaceSepToSeconds&format=json&pageIndex=1&pageSize=50000&wcIdentifier=*diversion*&wdid=0100504
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-12T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '469104'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '9181'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":9181,"ResultDateTime":"2025-02-12
        19:23:38","ResultList":[{"wdid":"0100504","waterClassNum":10100504,"wcIdentifier":"0100504
        Total (Diversion)","measInterval":"Daily","dataMeasDate":"1950-05-16 00:00:00","dataValue":22.0000,"measUnits":"CFS","obsCode":"*","approvalStatus":"Approved","modified":"2001-08-14
        18:04:00"},{"wdid":"0100504","waterClassNum":10100504,"wcIdentifier":"0100504
        Total (Diversion)","measInterval":"Daily","dataMeasDate":"1950-05-17 00:00:00","dataValue":22.0000,"measUnits":"CFS","obsCode":"*","approvalStatus":"Approved","modified":"2001-08-14
        18:04:00"},{"wdid":"0100504","waterClassNum":10100504,"wcIdentifier":"0100504
        Total (Diversion)","measInterval":"Daily","dataMeasDate":"1950-05-18 00:00:00","dataValue":22.0000,"measUnits":"CFS","[...]
