---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/climatedata/climatestations/?county=Denver&dateFormat=spaceSepToSeconds&division=&pageIndex=1&pageSize=50000&siteId=&stationName=&units=miles&waterDistrict=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-18T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '599469'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '996'
      X-Result-Count:
      - '227'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":227,"ResultDateTime":"2025-02-18
        22:00:45","ResultList":[{"stationNum":62,"siteId":"USW00003017","stationName":"DENVER
        INTL AP","dataSource":"NOAA","division":1,"waterDistrict":1,"county":"DENVER
        ","state":"CO","utmX":529306.9,"utmY":4409256.0,"latitude":39.832806,"longitude":-104.657509,"locationAccuracy":"User
        supplied","startDate":"1994-07-20 00:00:00","endDate":"2025-02-13 00:00:00","modified":"2025-02-16
        02:46:39","moreInformation":"http://cdss.state.co.us/onlineTools/Pages/ClimateStation.aspx"},{"stationNum":62,"siteId":"USW00003017","stationName":"DENVER
        INTL AP","dataSource":"NOAA","division":1,"waterDistrict":1,"county":"DENVER
        ","state":"CO","utmX":529306.9,"utmY":4409256.0,"latitude":39.832806,"longitude":-104.657509,"locationAccuracy":"User
        supplied","startDate":"1994-07-20 00:00:00","endDate":"2025-02-13 00:00:00","modified":"2025-02-16
        02:46:39","moreInformation":"http://cdss.state.[...]
