---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/surfacewater/surfacewatertsmonth/?abbrev=PLACHECO&dateFormat=spaceSepToSeconds&format=json&max-calYear=2021&min-calYear=2021&pageIndex=1&pageSize=50000&stationNum=&usgsSiteId=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-18T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '588264'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '12'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":12,"ResultDateTime":"2025-02-18
        22:11:33","ResultList":[{"stationNum":1482,"abbrev":"PLACHECO","usgsSiteId":"06701500","measType":"Streamflow","calYear":2021,"calMonNum":1,"minQCfs":51.00,"maxQCfs":72.00,"avgQCfs":61.87,"totalQAf":3804.35,"measCount":31,"dataSource":"DWR","modified":"2022-02-08
        12:46:36"},{"stationNum":1482,"abbrev":"PLACHECO","usgsSiteId":"06701500","measType":"Streamflow","calYear":2021,"calMonNum":2,"minQCfs":39.00,"maxQCfs":67.00,"avgQCfs":49.82,"totalQAf":2766.98,"measCount":28,"dataSource":"DWR","modified":"2022-02-08
        12:46:36"},{"stationNum":1482,"abbrev":"PLACHECO","usgsSiteId":"06701500","measType":"Streamflow","calYear":2021,"calMonNum":3,"minQCfs":39.00,"maxQCfs":41.00,"avgQCfs":40.06,"totalQAf":2463.51,"measCount":31,"dataSource"[...]
