---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/telemetrystations/telemetrystation/?abbrev=&county=Denver&dateFormat=spaceSepToSeconds&division=&format=json&gnisId=&includeThirdParty=true&pageIndex=1&pageSize=50000&usgsStationId=&waterDistrict=&wdid=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-18T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '588238'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '8'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":8,"ResultDateTime":"2025-02-18
        22:25:21","ResultList":[{"division":1,"waterDistrict":8,"county":"DENVER","stationName":"EPPERSON
        DITCH PUMP","dataSourceAbbrev":"DWR","dataSource":"Co. Division of Water Resources","waterSource":"SOUTH
        PLATTE RIVER","gnisId":"00201759","streamMile":246.66,"abbrev":"0801015A","usgsStationId":null,"stationStatus":"Active","stationType":"Diversion
        Structure","structureType":"Pump","measDateTime":"2024-05-31 12:45:00","parameter":"DISCHRG","stage":null,"measValue":0.00,"units":"CFS","flagA":"O","flagB":null,"contrArea":null,"drainArea":null,"huc10":null,"utmX":499974.3,"utmY":4393159.3,"latitude":39.688275,"longitude":-105.000313,"locationAccuracy":"GPS","wdid":"0801015","modified":"2024-05-31
        12:53:23","moreInformation":"https://dwr.state.co.us/Tools/Stations/0801015A","stationPorStart":"2022-11-14
        00:00:00","stationPorEnd":"2024-05-31 00:00:00","thirdParty":false},{"division":1,"waterDistrict":9,"county":"DENVER","stationName":"JOHNSON
        LATERAL PINEHURST INFLOW","dataSourceAbbrev":"DWR","dataSource":"Co. Division
        of Water Resources","waterSource":"BEAR CREEK","gnisId":"00182308","streamMile":null,"abbrev":"0902251A","usgsStationId":null,"stationStatus":"Active","stationType":"Stream
        Gage","structureType":"Measuring Point","measDateTime":"2025-02-18 22:15:00","parameter":"DISCHRG","stage":null,"measValue":0.30,"units":"CFS","f[...]
