---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/climatedata/climatestationtsmonth/?dateFormat=spaceSepToSeconds&max-calYear=2023&measType=Snow&min-calYear=2010&pageIndex=1&pageSize=50000&siteId=US1COJF0356&stationNum=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-18T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '598655'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '993'
      X-Result-Count:
      - '24'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":24,"ResultDateTime":"2025-02-18
        22:00:45","ResultList":[{"stationNum":5012,"siteId":"US1COJF0356","measType":"Snow","calYear":2011,"calMonthNum":9,"minValue":0.000000,"maxValue":0.000000,"avgValue":0.000000,"totalValue":0.00,"measUnit":"in","measCount":13,"dataSource":"CoCoRaHS","modified":"2015-01-28
        14:16:02"},{"stationNum":5012,"siteId":"US1COJF0356","measType":"Snow","calYear":2011,"calMonthNum":10,"minValue":0.000000,"maxValue":0.000000,"avgValue":0.000000,"totalValue":0.00,"measUnit":"in","measCount":21,"dataSource":"CoCoRaHS","modified":"2015-01-28
        14:16:02"},{"stationNum":5012,"siteId":"US1COJF0356","measType":"Snow","calYear":2011,"calMonthNum":11,"minValue":0.000000,"maxValue":0.000000,"avgValue":0.000000,"totalValue":0.00,"measUnit":"in","measCount":22,"[...]
