---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/analysisservices/callanalysisbywdid/?adminNo=12941.00000&dateFormat=spaceSepToSeconds&endDate=12-31-2023&format=json&pageIndex=1&pageSize=50000&startDate=01-01-2023&wdid=0600564
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-04T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '598358'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '995'
      X-Result-Count:
      - '430'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":430,"ResultDateTime":"2025-02-04
        19:30:42","ResultList":[{"analysisDate":"2023-01-01 00:00:00","analysisWdid":"0600564","analysisStructureName":"COMMUNITY
        DITCH","analysisWrAdminNo":12941.00000,"analysisOutOfPriorityPercentOfDay":0.0,"division":1,"callType":"CALL","dateTimeSet":"2022-12-30
        08:00:00","dateTimeReleased":"2023-01-03 09:00:00","waterSourceName":"SOUTH
        PLATTE RIVER","locationWdid":"0100513","locationStructure":"JACKSON LAKE INLET
        DITCH","locationWdidStreamMile":146.94,"priorityWdid":"0200817","priorityStructure":"EVANS
        NO 2 DITCH","priorityAdminNo":21698.00000,"priorityOrderNo":0,"priorityDate":"1909-05-29
        00:00:00","priorityNo":"","boundingWdid":null,"boundingStructureName":null,"setComments":"AFFECTS
        DISTRICTS 1,2,3,4,5,6,7,8,9,23,80 ON 1/1/23 ONLY DISTRICTS 1,2,3,4,5,6,7","releaseComment":null},{"analysisDate":"2023-01-02
        00:00:00","analysisWdid":"0600564","analysisStructureName":"COMMUNITY DITCH","analysisWrAdminNo":12941.00000,"analysisOutOfPriorityPercentOfDay":0.0,"division":1,"callType":"CALL","dateTimeSet":"2022-12-30
        08:00:00","dateTimeReleased":"2023-01-03 09:00:00","waterSourceName":"SOUTH
        PLATTE RIVER","locationWdid":"0100513","locationStructure":"JACKSON LAKE INLET
        DITCH","locationWdidStreamMile":146.94,"priorityWdid":"0200817","priority[...]
