---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/administrativecalls/active/?callNumber=21974.0&dateFormat=spaceSepToSeconds&format=json&pageIndex=1&pageSize=50000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-12-18T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '599668'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '64'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":64,"ResultDateTime":"2024-12-18
        20:09:12","ResultList":[{"callNumber":19646,"callType":"CALL","dateTimeSet":"2014-11-01
        08:00:00","dateTimeReleased":null,"waterSourceName":"GARNER CREEK","locationWdid":"2500571","locationWdidStreammile":5.67,"locationStructureName":"GARNER
        D 1","priorityWdid":"2500571","priorityStructureName":"GARNER D 1","priorityAdminNumber":7396.00000,"priorityOrderNumber":0,"priorityDate":"1870-04-01
        00:00:00","priorityNumber":"8","boundingWdid":null,"boundingStructureName":null,"setComments":null,"releaseComment":null,"division":3,"locationStructureLatitude":38.173541,"locationStructureLongitude":-105.809536,"boundingStructureLatitude":null,"boundingStructureLongitude":null,"modified":"2017-02-17
        12:02:49","moreInformation":"https://dwr.state.co.us/Tools/AdministrativeCalls/19646"},{"callNumber":19644,"callType":"CALL","dateTimeSet":"2014-11-01
        08:00:00","dateTimeReleased":null,"waterSourceName":"HOT SPRINGS CREEK","locationWdid":"2500606","locationWdidStreammile":0.96,"locationStructureName":"HOT
        SPRING CR D","priorityWdid":"2500606","priorityStructureName":"HOT SPRING
        CR D","priorityAdminNumber":7791.00000,"priorityOrderNumber":0,"priorityDate":"1871-05-01
        00:00:00","priorityNumber[...]
