---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/groundwater/geophysicallogs/wells/?county=DENVER&dateFormat=spaceSepToSeconds&format=json&pageIndex=1&pageSize=50000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-11-07T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '513278'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '100'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":100,"ResultDateTime":"2024-11-07
        19:27:45","ResultList":[{"wellId":3173,"wellName":"CHAMP 125 AMOCO E-1","receipt":null,"permit":null,"ecmcId":null,"logDate":null,"logType":",SP,R,C,","logTop":null,"logBottom":1960,"logSwl":null,"aquiferPicks":"ARAPAHOE,
        LARAMIE-FOX HILLS, LOWER ARAPAHOE, UPPER ARAPAHOE","wellDepth":null,"topPerforatedCasing":null,"bottomPerforatedCasing":null,"baseOfGrout":null,"wdid":null,"locnum":"SC00206503CC","division":1,"waterDistrict":1,"county":"DENVER","designatedBasin":null,"managementDistrict":null,"q10":null,"q40":"SW","q160":"SW","section":"3","township":"2.0
        S","range":"65.0 W","pm":"S","coordsew":990,"coordsewDir":"W","coordsns":990,"coordsnsDir":"S","utmX":529447.3,"utmY":4416956.3,"latitude":39.902177,"longitude":-104.655526,"locationAccuracy":"Spotted
        from section lines","elevation":5439.0,"elevationAccuracy":null,"modified":"2006-09-28
        14:00:00","moreInformation":"https://dwr.state.co.us/Tools/GroundWater/GeophysicalLogs/3173"},{"wellId":3178,"wellName":"CHAMP
        117  AMOCO 2","receipt":null,"permit":null,"ecmcId":null,"logDate":null,"logType":",SP,R,C,","logTop":null,"logBottom":2498,"logSwl":null,"aquiferPicks":"ARAPAHOE,
        LARAMIE-FOX HILLS, LOWER ARAPAHOE, UPPER ARAPAHOE","wellDepth":null,"topPerforatedCasing":null,"bottomPerforatedCasing":null,"baseOfGrout":null,"wdid":null,"locnum":"SC00206507CA","division":1,"waterDistrict":2,"county":"[...]
