---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/surfacewater/surfacewaterstations/?county=Denver&dateFormat=spaceSepToSeconds&format=json&pageIndex=1&pageSize=50000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-10-30T00:00:00-06:00"'
      X-Rate-Row-Remaining:
      - '591026'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '994'
      X-Result-Count:
      - '18'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":18,"ResultDateTime":"2024-10-30
        22:43:14","ResultList":[{"stationNum":465,"abbrev":"CHEGLECO","usgsSiteId":"06713300","stationName":"CHERRY
        CREEK AT GLENDALE, CO","dataSource":"USGS","division":1,"waterDistrict":8,"county":"DENVER","state":"CO","utmX":505359.4,"utmY":4395139.6,"latitude":39.706107,"longitude":-104.937496,"locationAccuracy":"User
        supplied","startDate":"1985-01-01 00:00:00","endDate":"2003-09-30 00:00:00","modified":"2015-06-17
        11:53:02","moreInformation":"http://cdss.state.co.us/onlineTools/Pages/ClimateStation.aspx","measUnit":"cfs"},{"stationNum":637,"abbrev":"PLADENCO","usgsSiteId":"06714000","stationName":"SOUTH
        PLATTE RIVER AT DENVER","dataSource":"DWR","division":1,"waterDistrict":8,"county":"DENVER","state":"CO","utmX":499658.0,"utmY":4401059.0,"latitude":39.759456,"longitude":-105.004003,"locationAccuracy":"User
        supplied","startDate":"1895-07-01 00:00:00","endDate":"2024-10-29 00:00:00","modified":"2024-10-30
        00:00:14","moreInformation":"http://cdss.state.co.us/onlineTools/Pages/ClimateS[...]
