---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/waterrights/transaction/?county=Denver&dateFormat=spaceSepToSeconds&format=json&pageIndex=1&pageSize=50000&units=miles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2024-11-19T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '420702'
      X-Rate-Row-Limit:
      - 'null'
      X-Rate-Request-Limit:
      - 'null'
      X-Rate-Request-Remaining:
      - 'null'
      X-Result-Count:
      - '1086'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":1086,"ResultDateTime":"2024-11-19
        19:00:00","ResultList":[{"WaterRightNum":10456,"wdid":"0200800","waterRightName":"FARMERS
        GARDNERS DITCH","structureType":"Ditch","permit":null,"waterSource":"SOUTH
        PLATTE RIVER","streamMile":241.26,"gnisId":"00201759","division":1,"waterDistrict":2,"county":"DENVER","q10":"SE","q40":"SE","q160":"SW","section":"28","township":"3.0
        S","range":"68.0 W","pm":"S","coordinatesEw":null,"coordinatesEwDir":null,"coordinatesNs":null,"coordinatesNsDir":null,"utmX":499254.7,"utmY":4400740.1,"latitude":39.756582,"longitude":-105.008710,"locationAccuracy":"Spotted
        from quarters","adjudicationType":"O","adjudicationDate":"1883-04-28 00:00:00","priorAdjudicationDate":"0001-01-01
        00:00:00","appropriationDate":"1863-03-15 00:00:00","signatureDate":null,"adminNumber":4822.00000,"orderNumber":0,"priorityNumber":null,"caseNumber":"CA6009","caseNumberUrl":"https://dnrweblink.state.co.us/dwr/Search.aspx?searchcommand={[Water
        Court]:[case number]=\"CA6009\"}&{[Water Court]:[division]=1}","decreedUses":"1","maxDecreedRate":13.7200,"totalVolumetricLimit":null,"seasonalLimitation":"No","associatedWdid":null,"planType":null,"planWdid":null,"comments":"14
        ASP 49 HGT MOVED UPS","lastModified":"1991-06-24 00:00:00","moreInformation":"https://dwr.state.co.us/Tools/WaterRights/Transactions/10456"},{"WaterRightNum":10457,"wdid":"0200800","waterRightName":"FARMERS
        GARDNERS DITCH","structureType":"Ditch","permit":null,"waterSource":"SOUTH
        PLATTE RIVER","streamMile":241.26,"gnisId":"00201759","division":1,"waterDistrict":2,"county":"DENVER","q10":"SE","q40":"SE","q160":"SW","section":"28","township":"3.0
        S","range":"68.0 W","pm":"S","coordinatesEw":null,"coordinatesEwDir":null,"coordinatesNs":null,"coordin[...]
