---
http_interactions:
- request:
    method: get
    uri: https://dwr.state.co.us/Rest/GET/api/v2/groundwater/geophysicallogs/geoplogpicks/?dateFormat=spaceSepToSeconds&format=json&pageIndex=1&pageSize=50000&wellId=5419
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Reset-Date:
      - '"2025-02-18T00:00:00-07:00"'
      X-Rate-Row-Remaining:
      - '589829'
      X-Rate-Row-Limit:
      - '600000'
      X-Rate-Request-Limit:
      - '1000'
      X-Rate-Request-Remaining:
      - '987'
      X-Result-Count:
      - '4'
      X-Version-Number:
      - '"07-30-2024_1308"'
    body:
      encoding: ASCII-8BIT
      string: '{"PageNumber":1,"PageCount":1,"ResultCount":4,"ResultDateTime":"2025-02-18
        22:08:59","ResultList":[{"wellId":5419,"wellName":"JEFFCO OPEN SPACE","aquifer":"ARAPAHOE","gLogTopDepth":null,"gLogBaseDepth":null,"gLogTopElev":null,"gLogBaseElev":null,"gLogThickness":213,"comment":null,"modified":null},{"wellId":5419,"wellName":"JEFFCO
        OPEN SPACE","aquifer":"DENVER","gLogTopDepth":50.0,"gLogBaseDepth":206.0,"gLogTopElev":5510,"gLogBaseElev":5354,"gLogThickness":18,"comment":null,"modified":null},{"wellId":5419,"wellName":"JEFFCO
        OPEN SPACE","aquifer":"LOWER ARAPAHOE","gLogTopDepth":536.0,"gLogBaseDepth":786.0,"gLogTopElev":5024,"gLogBaseElev":4774,"gLogThickness":144,"comment":null,"modified":null},{"wellId":5419,"wellName":"JEFFCO
        OPEN SPACE","aquifer":"UPPER ARAPAHOE","gLogTopDepth":279.0,"gLogBaseDepth":464.0,"gLogTopElev":5281,"gLogBaseElev":5096,"gLogThickness":69,"comment":null,"modified":null}]}'
  recorded_at: Wed, 19 Feb 2025 05:07:23 GMT
recorded_with: VCR 6.3.1
